---
---
body {
  text-align: center;
  color:white;
}
div{
  background-color:purple;
  border-width: 3px;
  border-color: white;
  border-radius: 16px;
  border-style: solid;
}
h1 {
  background-color:gold;
}
h3 {
 background-colorl: teal; 
}
