---
title: Fight Test Page
layout: battle
---
<h1 class="w3-amber w3-round">{{page.title}}</h1>


<div>
  <h1>Monsters</h1>
  <p id="monster"></p>
  <h3>Day Time attacks</h3>
  <button id="day" class="w3-button w3-round w3-amber">Monster</button>
<h3>Night Time attacks</h3>
  <button id="night" class="w3-button w3-round w3-amber"> Monster</button>
</div>
 <div id="stirge" class="battle">
    {% include stirges.html %}
  </div>
<div>
  {% include ghouls.html %}
</div>
<div>
  {% include goblins.html %}
</div>
<div>
  {% include hobs.html %}
</div>
<div>
  {% include ogres.html %}
</div>
<div>
  {% include orcs.html %}
</div>
<div>
  {% include owlbears.html %}
</div>
<div>
  {% include wolves.html %}
</div>
<script>
  $("document").ready(function(){
    $(".mon").hide();
    const monsters = [
      {
        key: 0, 
        name: "Stirge"
      }, {
        key: 1, 
        name: "Ghoul"
      }, {
        key: 2, 
        name: "Ogre"
      }, {
        key: 3, 
        name: "Goblin"
      }, {
        key: 4, 
        name: "HobGoblins"
      }, {
        key: 5, 
        name: "Orcs"
      }, {
        key: 6, 
        name: "Wolve"
      }, {
        key: 7, 
        name: "Owlbear"
      }
    ];
    
    $("#dice").click(function(){
      let num = Math.floor(Math.random()*7)
      let mon = monsters[num].name
      $("#picked").html(mon)
    });//end of dice fxn 
  
  });//end of ready fxn 
</script>
{% include day.html %}
{% include night.html %}
