---
title: Ogre
layout: battle
---
{% include monsters.html %}
<div class="w3-half">

{% include dice.html %}
</div>
<div class="w3-half"> 
  <h1>{{page.title}}</h1>
  <h2 id="hp">HP: 59 </h2>
  <h2>AC: 11 </h2>
  <h2>Speed 40 </h2>
  <h2>STR 19</h2>
  <h2>PER 8 </h2>
  <h2>GreatClub 5 ft 2d8 +4 (13)</h2>
  <h2>Javelin 5ft, or 30/120ft, 2d6+4 (11)</h2>
  <h2>XP 450 </h2>
</div>
<div class "w3-half">
  <button id="1">-1</button>
  <button id="5">-5</button>
  <button id="10">-10</button>
</div>
<script>
  $("document").ready(function(){
    let hp = 59
    $("#1").click(function(){
      let num = 1 
      hp = hp - num 
      $("#hp").html("HP " + hp)
      if(hp <= 0){
      $("#hp").html("Defeated")
    }
    });
    $("#5").click(function(){
      let num = 5 
      hp = hp - num 
      $("#hp").html("HP " + hp)
      if(hp <= 0){
      $("#hp").html("Defeated")
    }
    });
    $("#10").click(function(){
      let num = 10 
      hp = hp - num 
      $("#hp").html("HP " + hp)
      if(hp <= 0){
      $("#hp").html("Defeated")
    }
    });
  });
</script>
