---
title: Old Well Zombie War
layout: local
---
{% include players.html %}
{% include dice.html %}

<div id="zombie" class="w3-half w3-orange">
  <h3 id="amt"></h3>
  <hr>
  <h1>Zombie</h1>
  <h2 id="hp">HP: 22 </h2>
  <h2>AC: 8 </h2>
  <h2>Speed 20 </h2>
  <h2>STR 13</h2>
  <h2>PER 8 </h2>
  <h2>Slam: 5ft, 1d6+1 (4)</h2>
  <h2>XP 50 </h2>
</div>
 <div>
<h3 id="amt"></h3>
<button id="1">1</button>
<button id="5">5</button>
<button id="10">10</button>
</div>
<script>
  $("document").ready(function(){
    let amt = 12
    $("#amt").html(amt)
    let hp = 22
    $("#hp").html(hp)
    $("#1").click(function(){
      let number = hp 
      hp = hp - 1
      if(hp <= 0){
        amt = amt - 1
        hp = 22
      }
      $("#amt").html(amt)
      $("#hp").html(hp)
    });
    $("#5").click(function(){
      let number = hp 
      hp = hp - 5
      if(hp <= 0){
        amt = amt - 1
        hp = 22
      }
      $("#amt").html("Zombies" + amt)
      $("#hp").html("HP" + hp)
    });
    $("#10").click(function(){
      let number = hp 
      hp = hp - 10
      if(hp <= 0){
        amt = amt - 1
        hp = 22
      }
      $("#amt").html("Zombies" + amt)
      $("#hp").html("HP" + hp)
    });
    if(amt <= 0){
      $("#amt").html("Battle Complete. The Red Wizard ran away during the battle leaving behind a comfortable traveling suite, with cot, chair, writting desk, supllies and chest of clothes. 35 sp, 20 ep, 20gp, 5pp, one pearl(100gp), a potion of healing, a scroll of darkness, tiny jewelled box (25gp), with a ring of protection from ancient Netheril. And 800xp.")
    }
  });
</script>
