<button id="hidecell">Cellar</button>
<div class="cell w3-half">
  <h2>Cellar</h2>
  <p>The door opens into a dive-foot-wide landing fifteen feet above a large cellar, with stone steps descending to the floor in two short flights. Another door stands beneath the stairs to the north. A large stone cistern occupies the western part of the room, whoes walls are lined with kegs and barrels. </p>
  <p>There is a door to the North West</p>
  <button id="barrels">Barrells</button>
  <button id="cistern">Cistern</button>
  <button id="suc">Sucess</button>
  <button id="fail">Fail</button>
    <p id="next"></p>
</div>
<script>
  $("document").ready(function(){
    const above =[
      {
        key: 0, 
        text: "You are able to open the barrells and have a glass of ale."
      }, 
      {
        key: 1, 
        text: "You find  waters proof bags holding a potion of healing, potion of invisibility, 50 gp, and a clean set of travel clothing. "
      }
    ];
    let count = 0
    $("#barrels").click(function(){
      $("#next").html("DC 10 Strength Check")
    });//end of barrells 
    $("#cistern").click(function(){
      $("#next").html("DC 15 Wisdom Perception check")
    });//end of cistern 
      $("#fail").click(function(){
        $("#next").html("You notice nothing unordinary")
        count = count + 1
      });//end of fail
    $("#suc").click(function(){
      let num = 0 
      let text = above[num].text
      $("#next").html(text)
      count = count + 1
   });
  });//end of doc ready
</script>
