<script>
  $("document").ready(function(){
    let gp = 0
    let sp = 0
    let cp = 0
   $(".1gp").click(function(){
     let num = gp 
    gp = num + 1
    $("#total").html(gp + ":" + sp + ":" + cp)
   });
    $(".2gp").click(function(){
      let num = gp 
      gp = num + 2
        $("#total").html(gp + ":" + sp + ":" + cp)

    });
    $(".5gp").click(function(){
      let num = gp 
    gp = num + 5
        $("#total").html(gp + ":" + sp + ":" + cp)

   });
    $(".8gp").click(function(){
      let num = gp 
    gp = num + 8
       $("#total").html(gp + ":" + sp + ":" + cp)

   });
    $(".10gp").click(function(){
    let num = gp 
      gp = num + 10
        $("#total").html(gp + ":" + sp + ":" + cp)

   });
    $(".25gp").click(function(){
    let num = gp 
      gp = num + 25
        $("#total").html(gp + ":" + sp + ":" + cp)

   });
    $(".1sp").click(function(){
      let num = sp
    sp = num + 1
        $("#total").html(gp + ":" + sp + ":" + cp)

   });
    $(".2sp").click(function(){
      let num = sp
      sp = num + 2
       $("#total").html(gp + ":" + sp + ":" + cp)

    });
    $(".5sp").click(function(){
      let num = sp
      
    sp = num + 5
        $("#total").html(gp + ":" + sp + ":" + cp)

   });
    $(".8sp").click(function(){
      let num = sp
      sp = num + 8
        $("#total").html(gp + ":" + sp + ":" + cp)

   });
    $(".10sp").click(function(){
      let num = sp
    
      sp = num + 10
        $("#total").html(gp + ":" + sp + ":" + cp)

   });
    $(".25sp").click(function(){
      let num = sp
      sp = num + 25
        $("#total").html(gp + ":" + sp + ":" + cp)

   });
    $(".1cp").click(function(){
     let num = cp 
    cp = num + 1
        $("#total").html(gp + ":" + sp + ":" + cp)

   });
    $(".2cp").click(function(){
     let num = cp 
     
      cp = num + 2
        $("#total").html(gp + ":" + sp + ":" + cp)

    });
    $(".5cp").click(function(){
     let num = cp 
    
      cp = num + 5
       $("#total").html(gp + ":" + sp + ":" + cp)

   });
    $(".8cp").click(function(){
     let num = cp 
    
      cp = num + 8
        $("#total").html(gp + ":" + sp + ":" + cp)

   });
    $(".10cp").click(function(){
     let num = cp 
    
      cp = num + 10
       $("#total").html(gp + ":" + sp + ":" + cp)

   });
    $(".25cp").click(function(){
     let num = cp 
      
      cp = num + 25
        $("#total").html(gp + ":" + sp + ":" + cp)

   });
  });
</script>
