<button id="hidecre">Crevasse</button>
<div class="vase w3-half">
  <h2> Crevasse</h2>
  <p>A cold breeze fills this large natural cavern, carrying with it the faint scent of decaying flesh. A crevasse divides the cavern and is flanked by two rough stone columns that support the twenty-foot high ceiling. Two arched wooden bridges span the chasm.</p>
  <p>he Goblin leads you to north end of the crevasse going across the bridge traveling west. 
"Glassstaff's workshop and quarters are located to the north west of the hideout. Follow me but dont look down. There is still a monster that gaurds the pit". The south bridge will collapse when you cross it. The Nothic lives in the pit now since you all rid the area of redbrands. If he gives you trouble just give him food and he will let you pass. </p>
  <button id="noth">Nothic</button>
  <p id="?"></p>
  <button id="fight"><a href="nothic.html" target="_blank">Fight</a></button>
  <button id="feed">Feed</button>
</div>
<script>
  $("document").ready(function(){
    $(".vase").hide();
    $(".?").hide();
    $("#hidecre").click(function(){
      $(".vase").toggle();
    });//end hide
    $("#noth").click(function(){
      let num = Math.floor(Math.random() * 2)
      if(num === 2){
        $("#?").html(" The Nothic approches the party")
      }//end of if 2
    });//end of nothic
    $("#feed").click(function(){
      $("#?").html("You give the nothic food. It takes the food and runs under the bridge into the crevasse letting you pass")
    });//end of feed
    
  });//document ready
</script>
