<script>
  $("document").ready(function(){
    $("#day").click(function(){
      let number = Math.floor(Math.random() * 12);
      if(number === 1 | number === 2){
        $("#monster").html("Striges")
      }else  if (number === 3 | number === 3){
        $("#monster").html("Ogre")
      }else if(number === 5 | number === 6){
        $("#monster").html("Goblins")
          }else if(number === 7 | number === 8){
          $("#monster").html("Hobgoblins")
        }else if(number ===  9 | number === 10){
          $("#monster").html("Orcs")
        }else if(number === 11){
          $("#monster").html("Wolves")
        }else if(number === 12){
          $("#monster").html("Owlbear")
        }
    });
  });
</script>
