<div class="w3-third w3-teal"> 
  <p id="gres"></p>
  <h1>Garrett</h1>
  {% include gcoin.html %}
  <h2 id="ghp">Hp: 14</h2>
  <button id="STR">STR -1</button>
  <button id="DEX">SEX +3</button>
  <button id="CON">CON +1</button>
  <button id="INT">INT +1</button>
  <button id="WIS">WIS +0</button>
  <button id="CHAR">CHAR +3</button>
  <h2>Dex: + 3</h3>
  <button id="sword">Sword 1d6+3</button>
  <button id="bow">Short Bow 1d6+3</button>
  <button id="check">AC Check</button>
  <button id="g1">-1</button>
  <button id="g5">-5</button>
  <button id="g10">-10</button>
</div>
<script>
  $("document").ready(function(){
    let hp = 14
    $("#sword").click(function(){
      let num = Math.floor(Math.random() * 6) + 3
      $("#gres").html(num)
    });//end of sword
    $("#bow").click(function(){
      let num = Math.floor(Math.random() * 6) + 3 
      $("#gres").html(num)
    });//end of bow
    $("#check").click(function(){
      let num = Math.floor(Math.random() * 20) +5
      $("#gres").html(num)
    });//end of check
    $("#g1").click(function(){
      let num = 1 
      hp = hp - num 
      $("#ghp").html("HP " + hp)
      if(hp <= 0){
      $("#ghp").html("Garret is defeated")
    }//end of if 0
    });//end of g1
    $("#g5").click(function(){
      let num = 5 
      hp = hp - num 
      $("#ghp").html("HP " + hp)
      if(hp <= 0){
      $("#ghp").html("Garret is defeated")
    }//end of if hp
    });//end of g5
    $("#g10").click(function(){
      let num = 10 
      hp = hp - num 
      $("#ghp").html("HP " + hp)
      if(hp <= 0){
      $("#ghp").html("Garret is defeated")
    }//end of hp
    });//end of 10
    $("#STR").click(function(){
      let num = Math.floor(Math.random()*20) -1
      $("#gres").html(num);
    })//end of STR
    $("#DEX").click(function(){
      let num = Math.floor(Math.random()*20) +3
      $("#gres").html(num);
    });//end of dex
    $("#CON").click(function(){
      let num = Math.floor(Math.random()*20) +1
      $("#gres").html(num);
    });//end of con
    $("#INT").click(function(){
      let num = Math.floor(Math.random()*20) +1
      $("#gres").html(num);
    });//end of int
    $("#WIS").click(function(){
      let num = Math.floor(Math.random()*20) +0
      $("#gres").html(num);
    });//end of wis
  $("#CHAR").click(function(){
      let num = Math.floor(Math.random()*20) +3
      $("#gres").html(num);
    });//end of char
  });//end of doc ready
</script>
