<div class="w3-third w3-teal"> 
  <p id="gres"></p>
  <h1>Garrett</h1>
  <h2 id="ghp">Hp: 14</h2>
  <h2>AC: 14</h2>
  <h2>STR: -1</h2>
  <h2>Dex: + 3</h3>
  <button id="sword">Sword</button>
  <button id="bow">Short Bow</button>
  <button id="check">AC Check</button>
  <button id="g1">-1</button>
  <button id="g5">-5</button>
  <button id="g10">-10</button>
</div>
<script>
  $("document").ready(function(){
    let hp = 14
    $("#sword").click(function(){
      let num = Math.floor(Math.random() * 6) + 8
      $("#gres").html(num)
    });
    $("#bow").click(function(){
      let num = Math.floor(Math.random() * 6) + 8 
      $("#gres").html(num)
    });
    $("#check").click(function(){
      let num = Math.floor(Math.random() * 20) +3
      $("#gres").html(num)
    });
    $("#g1").click(function(){
      let num = 1 
      hp = hp - num 
      $("#ghp").html("HP " + hp)
      if(hp <= 0){
      $("#ghp").html("Garret is defeated")
    }
    });
    $("#g5").click(function(){
      let num = 5 
      hp = hp - num 
      $("#ghp").html("HP " + hp)
      if(hp <= 0){
      $("#ghp").html("Garret is defeated")
    }
    });
    $("#g10").click(function(){
      let num = 10 
      hp = hp - num 
      $("#ghp").html("HP " + hp)
      if(hp <= 0){
      $("#ghp").html("Garret is defeated")
    }
    });
    
  });
</script>
