<div class="w3-half w3-teal"> 
  <h1>Garrett</h1>
  <h2>Hp: 14</h2>
  <h2>AC: 14</h2>
  <h2>STR: -1</h2>
  <h2>Dex: + 3</h3>
  <p id="res"></p>
  <button id="sword">Sword</button>
  <button id="bow">Short Bow</button>
  <button id="check">AC Check</button>
</div>
<script>
  $("document").ready(function(){
    $("#sword").click(function(){
      let num = Math.floor(Math.random() * 6) + 8
      $("#res").html(num)
    });
    $("#bow").click(function(){
      let num = Math.floor(Math.random() * 6) + 8 
      $("#res").html(num)
    });
  });
</script>
