
<button id="ghS">Ghoul</button>
<div class="w3-half gh" > 
  <h1>Ghoul</h1>
  <h2 id="hpGH">HP: 22 </h2>
  <button id="upGH">Up</button>
  <button id="downGH">Down</button>
  <h2>AC: 12 </h2>
  <h2>Speed 30</h2>
  <h2>STR 13</h2>
  <h2>PER 10 </h2>
  <h2>Bite: 5 ft 2d4 +2 (7)</h2>
  <h2>Claws: 5ft, 2d4+2 (7) must also roll DC10 or be paralyzed</h2>
  <h2>XP 200 </h2>
</div>
<div class "w3-half gh" id="creatures">
  <button id="1">-1</button>
  <button id="5">-5</button>
  <button id="10">-10</button>
  <button id="ghH">Hide</button>
</div>
<script>
  $("document").ready(function(){
    let hp = 22
    let amt
    $("#1").click(function(){
      let num = 1 
      hp = hp - num 
      $("#hpGH").html("HP " + hp)
      if(hp <= 0){
        amt = amt - 1
        hp = 22 
        if(amt <= 0){
          $("#hpGH").html("Defeated")
        }
        $("#amtGH").html("Amount: " + amt)
        $("#hpGH").html("HP: " + hp)
      }
    });
    $("#5").click(function(){
      let num = 5 
      hp = hp - num 
      $("#hpGH").html("HP " + hp)
       if(hp <= 0){
        amt = amt - 1
        hp = 22 
        if(amt <= 0){
          $("#hpGH").html("Defeated")
        }
        $("#amtGH").html("Amount: " + amt)
        $("#hpGH").html("HP: " + hp)
      }
    });
    $("#10").click(function(){
      let num = 10 
      hp = hp - num 
      $("#hpGH").html("HP " + hp)
       if(hp <= 0){
        amt = amt - 1
        hp = 22 
        if(amt <= 0){
          $("#hpGH").html("Defeated")
        }
        $("#amtGH").html("Amount: " + amt)
        $("#hpGH").html("HP: " + hp)
      }
    });
    $("#ghH").click(function(){
      $(".gh").hide();
    });
    $("#ghS").click(function(){
      $(".gh").show()
    });
    $("#upGH").click(function(){
      amt = amt + 1
      $("#amtGH").html("Amount: "+ amt)
    });
    $("#downGH").click(function(){
      amt = amt - 1
      $("#amtGH").html("Amount: " + amt)
    });
  });
</script>
