<button id="hide">HideOut</button>
<div class="w3-half rh">
  <img src="{{'img/redhide.JPEG' | relative-url}}" width="100%">

  <h2>Rooms </h2>
    <ul>
      <li>Cellar</li>
      
      <li>Barracks</li>
      <li>Trapped Hall</li>
      <li>Tresendar Crypts</li>
      <li>Slave Pens</li>
      <li>Armory</li>
      <li>StoreRoom and Work Area</li>
      <li>Crevasee</li>
      <li>Gaurd Barracks</li>
      <li>Common Room</li>
      <li>Wizards Workshop</li>
      <li>Glasstaff's Quarters</li>
  </ul>
</div>
<script>
  $("document").ready(function(){
    $(".gq").hide();
    $("#gQuart").click(function(){
      $(".gq").toggle();
    });//end of gQuart
    $(".shop").hide();
    $("#work").click(function(){
      $(".shop").toggle();
    });//end click work
    $(".cell").hide();
    $(".rh").hide();
    $(".vase").hide();
    $("#hide").click(function(){
      $(".rh").toggle();
    });//end of click hide 
    $("#hidecell").click(function(){
      $(".cell").toggle();
    });
    $("#hidecre").click(function(){
      $(".vase").toggle();
    });//end of hidecre
  });// end of doc ready
</script>
{% include cellar.html %}
{% include barracks.html %}
{% include crevasse.html %}
{% include workshop.html %}
{% include quarters.html %}
