<div class="w3-third w3-teal"> 
  <h1>Kildrak</h1>
  <h2>Hp: 16</h2>
  <h2>AC: 18</h2>
  <h2>STR: +2</h2>
  <h2>Dex: -1</h3>
  <button id="ham">WarHammer</button>
  <button id="axe">Handaxe</button>
  <button id="kcheck">AC Check</button>
</div>
<script>
  $("document").ready(function(){
    $("#ham").click(function(){
      let num = Math.floor(Math.random() * 8) + 6
      $("#res").html(num)
    });
    $("#axe").click(function(){
      let num = Math.floor(Math.random() * 6) + 6 
      $("#res").html(num)
    });
    $("#kcheck").click(function(){
      let num = Math.floor(Math.random() * 20) -1
      $("#res").html(num)
    });
  });
</script>
