<div class="w3-third w3-teal"> 
  <h1>Kildrak</h1>
  <h2 id="khp">Hp: 16</h2>
  <h2>AC: 18</h2>
  <h2>STR: +2</h2>
  <h2>Dex: -1</h3>
  <button id="ham">WarHammer</button>
  <button id="axe">Handaxe</button>
  <button id="kcheck">AC Check</button>
   <button id="k1">-1</button>
  <button id="k5">-5</button>
  <button id="k10">-10</button>
</div>
<script>
  $("document").ready(function(){
    $("#ham").click(function(){
      let num = Math.floor(Math.random() * 8) + 6
      $("#res").html(num)
    });
    $("#axe").click(function(){
      let num = Math.floor(Math.random() * 6) + 6 
      $("#res").html(num)
    });
    $("#kcheck").click(function(){
      let num = Math.floor(Math.random() * 20) -1
      $("#res").html(num)
    });
    $("#k1").click(function(){
      let num = 1 
      hp = hp - num 
      $("#khp").html("HP " + hp)
      if(hp <= 0){
      $("#khp").html("Garret is defeated")
    }
    });
    $("#k5").click(function(){
      let num = 5 
      hp = hp - num 
      $("#khp").html("HP " + hp)
      if(hp <= 0){
      $("#khp").html("Garret is defeated")
    }
    });
    $("#k10").click(function(){
      let num = 10 
      hp = hp - num 
      $("#khp").html("HP " + hp)
      if(hp <= 0){
      $("#khp").html("Kildrak is defeated")
    }
    });
  });
</script>
