<button onclick="w3.toggleShow('.hr)">High Road</button>
<div class="hr">
  <h1>The High Road</h1>
  <ul>
    <li>Located to the East of Phandalin</li>
    <li>Goes through NeverWinter</li>
    <li>25 miles to the East of Neverwinter following the river is the town of ThunderTree</li>
    <li>5 miles East of Thundertree is the Neverwinter Wood</li>
    <li>North west of Neverwinter woods is Mount Hotenow</li>
    <li>North of the Neverwinter woods is The Crags</li>
    <li>To the East of Neverwinter woods is the Starmetal Hills</li>
    <li>50 south of Neverwinter the High Road connects to the Triboar Trail to the East</li>
    <li>70 miles south of Neverwinter is the town of Leilon</li>
    <li>10 miles south of Leilon is the Mere of Dead Men</li>
  </ul>
</div>
<button onclick="w3.toggleShow('.tt')">Triboar Trail</button>
<div class="tt">
  <h1>Triboar</h1>
  <ul>
    <h2>Location</h2>
    <li>10 miles north of Phandalin</li>
    <h2>Going West</h2>
    <li>15 miles west on triboar is the Cragmaw Hideout where you rescued Sildar</li>
    <li>20 miles west on triboar tees into the High Road</li>
    <h2>Going East</h2>
    <li>45 miles East the triboar trail goes right through Conyberry</li>
    <h2>To the South</h2>
    <li>10 miles south Phandalin</li>
    <li>30 miles south Sword Mountains</li>
    <li>To the south of the Sword Mountains is the Kryptgarden Forest</li>
  </ul>
</div>
<div>
  <h1>Phandalin</h1>
  <button><a href="town.html">Phandalin</a></button>
</div>
<button onclick="w3.toggleShow('mt')">Minner's Trail</button>
<div>
  <h1>Minner's Trail</h1>
  <ul>
    <h2>Location</h2>
    <li>Exits Phandalin to the South West</li>
  </ul>
</div>
