<div class="w3-half">
  <h1>Monster</h1>
  <p id="monster"></p>
  <p>Roll D20 if 17-20 then fight</p>
  <p>Roll D12 to determine monster</p>
<h3>Day Time attacks</h3>
  <button id="day" class="w3-button w3-round w3-amber">Monster</button>
<h3>Night Time attacks</h3>
  <button id="night" class="w3-button w3-round w3-amber"> Monster</button>
</div>
<nav>
  <button id="stirges"> <a href="stirge.html">Stirges </a></button>
  <button id="ghouls"><a href="ghoul.html">Ghouls</a></button>
  <button id="orge"><a href="ogre.html">Ogre</a></button>
  <button id="goblins"><a href="goblin.html">Goblins</a></button>
  <button id="hob"><a href="hob.html">HobGoblins </a></button>
  <button id="orcs"><a href="orc.html">Orcs</a></button>
  <button id="wolves"><a href="wolve.html">Wolves</a></button>
  <button id="owl"><a href="owlbear.html">Owlbear</a></button>
</nav>
{% include day.html %}
{% include night.html %}
