
<nav>
  <button id="stirges"> <a href="stirge.html">Stirges </a></button>
  <button id="ghouls"><a href="ghoul.html">Ghouls</a></button>
  <button id="orge"><a href="ogre.html">Ogre</a></button>
  <button id="goblins"><a href="goblin.html">Goblins</a></button>
  <button id="hob"><a href="hob.html">HobGoblins </a></button>
  <button id="orcs"><a href="orc.html">Orcs</a></button>
  <button id="wolves"><a href="wolve.html">Wolves</a></button>
  <button id="owl"><a href="owlbear.html">Owlbear</a></button>
</nav>


