<button id="gQuart">Glasstaf's Quarters</button>
<div class="gq w3-half">
  <h2>Glasstaff's Quarters</h2>
  <p>The walls of this bedchamber are covered with drapes of scarlet cloth. The furnishings include a small writing desk with matching chair, a comfortable-looking bed and a wooden chest at the foot of the bed</p>
  <p>You see a note on the desk that you miss the first time. It is from the black spider Lord Albrek, My spices in Neverwinter tell me that strangers are due to arrive in Phandalin. They could be working for the dwarves. Capture them if you can, kill them if you must, but dont allow them to upset our plans. See that any dwarven maps in their possession are delivered to me with haste. I am counting on you, Iarno. Don't dissapoint me.</p>
  <h3>Future Quests</h3>
  <p>Cragmaw Castle</p>
  <p>Tell Halia about Glasstaff's Workshop or Quarters</p>
  <p>Tell Halia about the Black Spider</p>
</div>
