<div>
  <h3> Strige</h3>
  <h4 id="hp"> HP 2</h4>
  <h4> AC 14</h4>
  <h4> Speed 10ft, fly 40ft</h4>
  <h4> STR 4</h4>
  <h4> Per 9</h4>
  <h4> Blood Drain 5ft 1d4 + 3</h4>
  <p id="check"></p>
  <button id="atk">Attack</button>
  <p id="hit"></p>
  <button id="hitatk">Hit</button>
  <button id="finish">Finish</button>
  <p id="end"></p>
</div>
<div>
  <h4>Player Move</h4>
  <p>Player attack</p>
  <p id="roll"></p>
  <button id="d20">D20</button>
  <pid="pcheck"></p>
  <button id="d6">D6</button>
</div>
<script>
  let hp = 2
  $("document").ready(function(){
    $("#atk").click(function(){
      let number = Math.floor(Math.random() * 20)
      $("#check").html(number)
    });
    $("#hitatk").click(function(){
      let num = Math.floor(Math.random() *4) + 3
      $("#hit").html(num)
    });
    $("#finish").click(function(){
      $("#end").html("25 xp")
    });
    $("#d20").click(function(){
      let num = Math.floor(Math.random() * 20)
      $("#pcheck").html(num)
    });
    $("#d6").click(function(){
      let num1 = {% include d6.html %}
      hp = hp - num1
      $("#roll").html(num1)
      $("#hp").html(hp)
    });
      
    
  });
</script>                    
