<div class="w3-third">
<button id="ss">Stirge</button>
<div class="s mon" > 
  <h1>Stirge</h1>
  <p id="amtS">Amount: 1</p>
  <button id="upS">Up</button>
  <button id="downS">Down</button>
  <h2 id="hpS">HP: 2 </h2>
  <h2>AC: 14 </h2>
  <h2>Speed 10, 40 fly</h2>
  <h2>STR 4</h2>
  <h2>PER 9 </h2>
  <h2>Atk 5 ft 1d4 +3 (5)</h2>
  <h2>XP 25 </h2>

  <button id="1S">-1</button>
  <button id="5S">-5</button>
  <button id="10S">-10</button>
  </div> 
</div>
<script>
  $("document").ready(function(){
    let hp = 2
    let amt = 1 
    $("#1S").click(function(){
      let num = 1 
      hp = hp - num 
      $("#hpS").html("HP " + hp)
      if(hp <= 0){
        amt = amt - 1
        hp = 2
        $("#amtS").html("Amount: " + amt)
        $("#hpS").html("HP: " + hp)
        if(amt <= 0){
          $("#hpS").html("Defeated")
        }
    }
    });
    $("#5S").click(function(){
      let num = 5 
      hp = hp - num 
      $("#hpS").html("HP " + hp)
      if(hp <= 0){
        amt = amt - 1
        hp = 2
        $("#amtS").html("Amount: " + amt)
        $("#hpS").html("HP: " + hp)
        if(amt <= 0){
          $("#hpS").html("Defeated")
        }
    }
    });
    $("#10S").click(function(){
      let num = 10 
      hp = hp - num 
      $("#hpS").html("HP " + hp)
      if(hp <= 0){
        amt = amt - 1
        hp = 2
        $("#amtS").html("Amount: " + amt)
        $("#hpS").html("HP: " + hp)
        if(amt <= 0){
          $("#hpS").html("Defeated")
        }
    }
    });
    $("#ss").click(function(){
      $(".s").toggle();
    });
    $("#upS").click(function(){
      amt = amt + 1
      $("#amtS").html("Amount: " + amt)
    });
    $("#downS").click(function(){
      amt = amt - 1
      $("#amtS").html("Amount: " + amt)
    });
  });
</script>
