<div class="w3-third w3-teal"> 
  <h1>Galanodel Thia</h1>
  <h2 id="thp">14</h2>
  <h2>AC: 12</h2>
  <h2>STR: +0</h2>
  <h2>Dex: + 2</h3>
  <button id="tsword">Sword</button>
  <button id="spear">Spear</button>
  <button id="tcheck">AC Check</button>
   <button id="t1">-1</button>
  <button id="t5">-5</button>
  <button id="t10">-10</button>
</div>
<script>
  $("document").ready(function(){
    $("#tsword").click(function(){
      let num = Math.floor(Math.random() * 6) + 6
      $("#res").html(num)
    });
    $("#spear").click(function(){
      let num = Math.floor(Math.random() * 6) + 8 
      $("#res").html(num)
    });
    $("#tcheck").click(function(){
      let num = Math.floor(Math.random() * 20) +2
      $("#res").html(num)
    });
    let hp = 14
    $("#t1").click(function(){
      let num = 1 
      hp = hp - num 
      $("#thp").html("HP " + hp)
      if(hp <= 0){
      $("#thp").html("Garret is defeated")
    }
    });
    $("#t5").click(function(){
      let num = 5 
      hp = hp - num 
      $("#thp").html("HP " + hp)
      if(hp <= 0){
      $("#thp").html("Garret is defeated")
    }
    });
    $("#t10").click(function(){
      let num = 10 
      hp = hp - num 
      $("#thp").html("HP " + hp)
      if(hp <= 0){
      $("#thp").html("Garret is defeated")
    }
    });
  });
</script>
