<div>
<h2>Traveling Rules</h2>
<p>Distance: 24 miles in 10 hours</p>
<p>2.4 miles per hour</p>
   <p>Each action occurs over 2.4 miles or 1 hour</p>
   <p>Action examples</p>
   <ul>
      <li>hunting</li>
      <li>battleing</li>
      <li>Exploring or dc check</li>
   </ul>
   <p id ="night"></p>
 <p id="action">Actions left: 10</p>
<p id="mile">Miles Traveled: 0</p>
<button id="ac">Action Made</button>    
{% include weather.html %}
</div>
<div class="w3-half">
<h2>Hunting</h2>
  <p>Roll D20</p>
  <p>If > 15 then hunt</p>
</div>
<div>
   <h2>Monsters</h2>
   {% include mon.html %}
</div>
   
{% include dice.html %}
<script>
   $('document').ready(function(){
      let action = 10 
      let miles = 0 
      let days = 0 
      $("#ac").click(function(){
         action = action - 1
         miles = miles + 2.4
         if(action <= 0){
            days = days + 1
            action = 10
            $("#night").html("Time to make camp and rest. Watches? Battles?")
         }
         $("#action").html("Actions Left:" + action)
         $("#mile").html("Miles: " + miles)
      });
   });
</script>
