
<div class="w3-half"> 
  <button id="togW">Wolf</button>
  <div class="w mon">
  <h1>Wolf</h1>
  <h2 id="hpW">HP: 11 </h2>
    <p  id="amtW">Amount: 1</p>
    <button id="upW">Up</button>
    <button id="downW">Down</button>
  <h2>AC: 13 </h2>
  <h2>Speed 40</h2>
  <h2>STR 12</h2>
  <h2>PER 13 </h2>
  <h2>Atk Bite: 5 ft 2d4 +2 (7) w/ DC 11 check or thrown to prone</h2>
  <h2>XP 25 </h2>
  <button id="1W">-1</button>
  <button id="5W">-5</button>
  <button id="10W">-10</button>
</div>
</div>
<script>
  $("document").ready(function(){
    let hp = 11
    let amt = 1
    $("#1W").click(function(){
      let num = 1 
      hp = hp - num 
      $("#hpW").html("HP " + hp)
      if(hp <= 0){
        amt = amt - 1
        hp = 11
        $("#hpW").html("HP: "+ hp)
        $("#amtW").html("Amount: " + amt)
        if(amt <= 0){
          $("#hpW").html("Defeated")
        }//end of amt
    }//end of hp
    });//end of 1 
    $("#5W").click(function(){
      let num = 5 
      hp = hp - num 
      $("#hpW").html("HP " + hp)
      if(hp <= 0){
        amt = amt - 1
        hp = 11
        $("#hpW").html("HP: "+ hp)
        $("#amtW").html("Amount: " + amt)
        if(amt <= 0){
          $("#hpW").html("Defeated")
        }//end of amt
    }//end of hp
    });//end of 5
    $("#10W").click(function(){
      let num = 10 
      hp = hp - num 
      $("#hpW").html("HP " + hp)
      if(hp <= 0){
        amt = amt - 1
        hp = 11
        $("#hpW").html("HP: "+ hp)
        $("#amtW").html("Amount: " + amt)
        if(amt <= 0){
          $("#hpW").html("Defeated")
        }//end of amt
    }//end of hp
    });//end 10 
    $("#togW").click(function(){
      $(".w").toggle();
    });//end toggle
    $("#upW").click(function(){
      amt = amt + 1
      $("#amtW").html("Amount: "+ amt)
    });//end of up 
    $("#downW").click(function(){
      amt = amt - 1
      $("#amtW").html("Amount: "+ amt)
    });//end of down
    
  });
</script>
