<!DOCTYPE html>
<html lang="en">
<head>
<title> {{page.title}} | {{site.title}} </title>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, width=device-width">

<link rel="preload" href="{{'css/stylesheet.css' | relative_url}}" as="style">
<link rel="stylesheet" href="{{'css/stylesheet.css' | relative_url}}">

                                                                 
</head>
  <body>
  <main>
    {% include sidebar.html %}
    {{page.title}}
    {% include nav.html %}
    </main>
  </body>
