<!DOCTYPE html>
<html lang="en">
<head>
<title> {{page.title}} | {{site.title}} </title>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, width=device-width">

<link rel="preload" href="{{'css/stylesheet.css' | relative_url}}" as="style">
<link rel="stylesheet" href="{{'css/stylesheet.css' | relative_url}}">
<link rel="stylesheet" href="{{'https://www.w3schools.com/w3css/4/w3.css' | relative_url}}" >

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
  <body>
  <main>
    {{page.title}}
    {% include sidebar.html %}
    <div id="town1" class="w3-third w3-center">
    <button class="w3-button w3-indigo">StoneHill Inn</button>
    <button class="w3-button w3-indigo">Barthen's Provisions</button>
    <button class="w3-button w3-indigo">EderMath Orchard</button>
    </div>
    <div id="town2" class="w3-third w3-center"> 
    <button class="w3-button w3-indigo">LionSheild Coster</button>
    <button class="w3-button w3-indigo">Phandalin Miner's Exchange</button>
    <button class="w3-button w3-indigo">Alderleaf Farm</button>
  </div>
  <div id="town3" class="w3-third w3-center">
    <button class="w3-button w3-indigo">Shrine of Luck</button>
    <button class="w3-button w3-indigo">The Sleeping Giant</button>
    <button class="w3-button w3-indigo">TownMastet's Hall</button>
    <button class="w3-button w3-indigo"> Tresendar Manor</button>
  </div>
  <hr>
  {% include random.html %}
  <hr>
  {% include dice.html %}
  <hr>
    </main>
  </body>
