<!DOCTYPE html>
<html lang="en">
<head>
<title> {{page.title}} | {{site.title}} </title>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, width=device-width">

<link rel="preload" href="{{'css/stylesheet.css' | relative_url}}" as="style">
<link rel="stylesheet" href="{{'css/stylesheet.css' | relative_url}}">
<link rel="stylesheet" href="{{'https://www.w3schools.com/w3css/4/w3.css' | relative_url}}" >

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
  <body>
    <img src="{{'img/Phandalin.jpg'| relative-url}}" width="80%" alt="Town map">
  <main>
    <h1 class="w3-center w3-amber">{{page.title}}</h1>
    <hr>
    {% include nav.html %}
    <hr>
    <div id="town1" class="w3-third w3-center w3-deep-purple w3-bottombar w3-topbar w3-leftbar w3-rightbar w3-border-white" style="height:200px;">
    <button class="w3-button w3-indigo w3-round w3-border-white"><a href="inn.html">StoneHill Inn</a></button>
    <button class="w3-button w3-indigo w3-round w3-border-white"> <a href="barthens.html">Barthen's Provisions </a></button>
    <button class="w3-button w3-indigo w3-round w3-border-white"><a href="edermath.html">EderMath Orchard</a></button>
    </div>
    <div id="town2" class="w3-third w3-center w3-deep-purple w3-bottombar w3-topbar w3-leftbar w3-rightbar w3-border-white" style="height:200px;"> 
    <button class="w3-button w3-indigo w3-round w3-border-white"><a href="lion.html">LionSheild Coster</a></button>
    <button class="w3-button w3-indigo w3-round w3-border-white"><a href="minner.html">Phandalin Miner's Exchange</a></button>
    <button class="w3-button w3-indigo">Alderleaf Farm</button>
  </div>
  <div id="town3" class="w3-third w3-center w3-deep-purple w3-bottombar w3-topbar w3-leftbar w3-rightbar w3-border-white" style="height:200px;">
    <button class="w3-button w3-indigo w3-round w3-border-white"> <a href="{{'shrine.html' | relative_url}}">Shrine of Luck </a></button>
    <button class="w3-button w3-indigo w3-round w3-border-white">The Sleeping Giant</button>
    <button class="w3-button w3-indigo w3-round w3-border-white"><a href="master.html">TownMaster's Hall</a></button>
    <button class="w3-button w3-indigo w3-round w3-border-white"> Tresendar Manor</button>
  </div>
  <hr>
<br>
    {% include random.html %}
    {% include shorts.html %}
  <hr>
    <div class="w3-half">
  {% include dice.html %}
    </div>
    <div>
      {% include site.html %}
    </div>
  <hr>
    </main>
  </body>
